<div class="row">
  <div class="col-md-12">
    <h1>About Us</h1>
  </div>
</div>
<div class="row aboutUsPage">
  <div class="col-md-2">
    {{!-- empty on the left side --}}
  </div>
  <div class="col-md-2 aboutUs" id="firstAbout">
    {{!-- First Profile--}}
  </div>
  <div class="col-md-2 aboutUs" id="secondAbout">
    {{!-- Second Profile--}}
  </div>
  <div class="col-md-2 aboutUs" id="thirdAbout">
    {{!-- Third Profile--}}
  </div>
  <div class="col-md-2 aboutUs" id="forthAbout">
    {{!-- Forth Profile--}}
  </div>
  <div class="col-md-2">
    {{!-- empty on the right side --}}
  </div>

</div>
