<div class="row">
  <div class="col-md-12">
    <h1>About Us</h1>
  </div>
</div>
<div class="row aboutUsPage">
  <div class="col-md-2 col-md-offset-2 aboutUs" id="firstAbout">
    {{!-- First Profile--}}
    <div class="row">
      <div class="col-md-12">
        <img class="usImage" src="https://avatars3.githubusercontent.com/u/15171367?v=3&s=460" alt="First Image" />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>

    </div>
  </div>
  <div class="col-md-2 aboutUs" id="secondAbout">
    {{!-- Second Profile--}}
    <div class="row">
      <div class="col-md-12">
        <img class="usImage" src="" alt="Second Image" />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>

    </div>
  </div>
  <div class="col-md-2 aboutUs" id="thirdAbout">
    {{!-- Third Profile--}}
    <div class="row">
      <div class="col-md-12">
        <img class="usImage" src="https://avatars1.githubusercontent.com/u/17937637?v=3&s=460" alt="Third Image" />
        <h3>Russell Fisher</h3>
        <h4>Bee watching, the next big thing! Check out more of my stuff at <a href="https://github.com/RussellAFisher">GitHub</a> or my <a href="Public Profilehttps://www.linkedin.com/in/russell-a-fisher">LinkedIn</a> account.</h4>
      </div>

    </div>
  </div>
  <div class="col-md-2 aboutUs" id="forthAbout">
    {{!-- Forth Profile--}}
    <div class="row">
      <div class="col-md-12">
        <img class="usImage" src="" alt="Forth image" />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>

    </div>
  </div>
  <div class="col-md-2">
    {{!-- empty on the right side --}}
  </div>

</div>
