<div class="row aboutUsPage">
<div class="col-md-2 col-md-offset-2 aboutUs" id="firstAbout">
  {{!-- First Profile--}}
  <div class="row">
    <div class="col-md-12">
      <img class="usImage" src="https://avatars3.githubusercontent.com/u/15171367?v=3&s=460" alt="First Image" />
      <h3>Peter Aguilar Jr.</h3>
      <h4>Likes watching bees, long walks in the park, and coding of course... Find me at <a href="https://github.com/aguilar8788" target="_blank">GitHub</a> or my <a href="https://www.linkedin.com/in/peteraguilar" target="_blank">LinkedIn</a></h4>
    </div>
  </div>
</div>
<div class="col-md-2 aboutUs" id="secondAbout">
  {{!-- Second Profile--}}
  <div class="row">
    <div class="col-md-12">
      <img class="usImage" src="https://s3-us-west-2.amazonaws.com/quilt-production/logo/2016/5/VVIGhrdfA5KDGwGdcH.png" alt="Second Image" />
      <h3>Alex James</h3>
      <h4>Likes are coding, cars, and bees. Look at my stuff on   <a href="https://github.com/apjames93" target="_blank">GitHub</a> or my <a href="https://www.linkedin.com/in/apjames93" target="_blank">LinkedIn</a></h4>
    </div>

  </div>
</div>
<div class="col-md-2 aboutUs" id="thirdAbout">
  {{!-- Third Profile--}}
  <div class="row">
    <div class="col-md-12">
      <img class="usImage" src="https://avatars1.githubusercontent.com/u/17937637?v=3&s=460" alt="Third Image" />
      <h3>Russell Fisher</h3>
      <h4>Bee watching, the next big thing! Check out more of my stuff at <a href="https://github.com/RussellAFisher" target="_blank">GitHub</a> or my <a href="https://www.linkedin.com/in/russell-a-fisher" target="_blank">LinkedIn</a> account.</h4>
    </div>

  </div>
</div>
<div class="col-md-2 aboutUs" id="forthAbout">
  {{!-- Forth Profile--}}
  <div class="row">
    <div class="col-md-12">
      <img src="https://avatars3.githubusercontent.com/u/11277997?v=3&s=460" alt="Forth image" class="usImage"/>
      <h3>Heather Stone</h3>
      <h4>is a mammal (unlike bees) but greatly appreciates flowers (like bees). You can find her on <a href="https://www.linkedin.com/in/heatherblairs" target="_blank">LinkedIn</a>, <a href="https://github.com/heatherblairs" target="_blank">GitHub</a>, and <a href="https://twitter.com/heatherblairs" target="_blank">Twitter</a>.</h4>
    </div>
  </div>
</div>
<div class="col-md-2">
  {{!-- empty on the right side --}}
</div>

</div>
