<div class="row dropdown" id="customBee">
  <div class="col-md-4">
    <button type="button" name="addABee" id="addABee">Add Your Own Bee</button>
    <script type="text/javascript">
        $(document).ready(function(){
          $("#addABee").on('click', function(){
            $("#addABeeForm").toggle();
          });
        });
    </script>
    <form action="/addBee" id="addABeeForm" method="post">
      <div class="form-group">
        <label for="genus">Genus:</label>
        <input type="text" name="genus" placeholder="Enter Genus Here">{{!--Genus to be added to database--}}
      </div>
      <div class="form-group">
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="Enter Species Here">{{!--Species to be added to database--}}
      </div>
      <div class="form-group">
        <label for="description">Bee Description:</label>
        <textarea name="description" rows="8" cols="40" placeholder="What did the bee look like? How big was it? What was it doing?"></textarea>{{!--Description to be added to database--}}
      </div>
      <div class="form-group">
        <label for="image">Bee Image:</label>
        <input type="url" name="image" placeholder="Enter an image URL">{{!--Image URL to be added to database--}}
      </div>
      <div class="form-group">
        <label for="Location">Location:</label>
        <input type="hidden" name="lat" placeholder="Latitude" class="locationFieldLat">{{!--If we grab lat and long from browser we can replace placeholder="" with value="" and fill that in with handle bars for req.params for each--}}
        <input type="hidden" name="lng" placeholder="Longitude" class="locationFieldLong">

      </div>
      <button type="submit" name="">update bee info </button>{{!--This submit needs to take all the above information and create a new bee instance with it, possibly use it to append the entire page???--}}
    </form>
  </div>
</div>

<div class="row" id="prepopulatedBeeInfo">
  <div class="col-md-1">
    {{!--Placeholder to help center--}}
  </div>

  <form action="/addBee" method="post">
  <div class="col-md-3">

  </div>
  <div class="col-md-4">
<script>
    var prepopData = new Promise(function(resolve, reject){
      var databaseResults = [];
      $.get("http://the-hive-g25.herokuapp.com/beeseed", function(data){
        return data;
      }).then(function(data){
        console.log(data)
          for (var i=0; i<data.length; i++){
            $("#prepopulatedBeeInfo").append('<img src="'+ data[i].image + '"width="200" height="200" /> <form action="/addBee"  method="post"> <input type="text" name="genus" value='+ data[i].genus+'> <input type="text" name="species" value='+ data[i].species+'> <input type="hidden" name="image" value='+ data[i].image+'> <textarea type="text" name="description" placeholder= example:'+ data[i].Observations+'></textarea><input type="hidden" name="lat" placeholder="Latitude" class="locationFieldLat"><input type="hidden" name="lng" placeholder="Longitude" class="locationFieldLong"><button  type="submit" name="">update bee info </button></form>');

          }
        })
    });

    </script>
  </div>
  <div class="col-md-3">
    {{!--Field for button to add THIS bee to peronal map--}}

  </div>
  </form>
  <div class="col-md-1">
    {{!--Placeholder to help center--}}
  </div>
</div>

<script>
if(navigator.geolocation) {
  browserSupportFlag = true;
  navigator.geolocation.getCurrentPosition(function(position) {
    $(".locationFieldLat").val(position.coords.latitude);
    $(".locationFieldLong").val(position.coords.longitude);
  }, function() {
    handleNoGeolocation(browserSupportFlag);
  });
}
// Browser doesn't support Geolocation
else {
  browserSupportFlag = false;
  handleNoGeolocation(browserSupportFlag);
}
function handleNoGeolocation(errorFlag) {
  if (errorFlag == true) {
    alert("Geolocation service failed.");
    initialLocation = newyork;
  } else {
    alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
    initialLocation = siberia;
  }
}
</script>
