<div class="row dropdown" id="customBee">
  <div class="col-md-4">
    <button type="button" name="addABee" id="addABee">Add Your Own Bee</button>
    <script type="text/javascript">
        $(document).ready(function(){
          $("#addABee").on('click', function(){
            $("#addABeeForm").toggle();
          });
        });
    </script>
    <form action="/addBee" id="addABeeForm" method="post">
      <div class="form-group">
        <label for="genus">Genus:</label>
        <input type="text" name="genus" placeholder="Enter Genus Here">{{!--Genus to be added to database--}}
      </div>
      <div class="form-group">
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="Enter Species Here">{{!--Species to be added to database--}}
      </div>
      <div class="form-group">
        <label for="description">Bee Description:</label>
        <textarea name="description" rows="8" cols="40" placeholder="What did the bee look like? How big was it? What was it doing?"></textarea>{{!--Description to be added to database--}}
      </div>
      <div class="form-group">
        <label for="image">Bee Image:</label>
        <input type="url" name="image" placeholder="Enter an image URL">{{!--Image URL to be added to database--}}
      </div>
        <label for="Location">Location:</label><button type="button" id="locationBtn">Get Current Location</button>
      <div class="form-group">
        <input type="float" name="lat" placeholder="Latitude" id="locationFieldLat">{{!--If we grab lat and long from browser we can replace placeholder="" with value="" and fill that in with handle bars for req.params for each--}}
      </div>
      <div class="form-group">
        <input type="float" name="lng" placeholder="Longitude" id="locationFieldLong">
      </div>
      <button type="submit" name="">Add this Bee to my Map</button>{{!--This submit needs to take all the above information and create a new bee instance with it, possibly use it to append the entire page???--}}
    </form>
  </div>
</div>

<div class="row" id="prepopulatedBeeInfo">
  <div class="col-md-1">
    {{!--Placeholder to help center--}}
  </div>

  <form action="/addBee" method="post">
  <div class="col-md-3">

  </div>
  <div class="col-md-4">
<script>
    var prepopData = new Promise(function(resolve, reject){
      var databaseResults = [];
      $.get("http://localhost:3000/beeseed", function(data){
        return data;
      }).then(function(data){
          for (var i=0; i<data.length; i++){
            console.log(data[i].location)
            $("#prepopulatedBeeInfo").append('<li>' + data[i].Species + '</li>' + '<li>' + data[i].Observations + '</li>' + '<img src="' + data[i]["Image URL"] + '" width="100" height="100"/>' +       '<button type="submit" class="seenBee">This is the Bee I Saw</button>');
          }
        })
    });
    </script>
  </div>
  <div class="col-md-3">
    {{!--Field for button to add THIS bee to peronal map--}}
      <button type="submit" class="seenBee">This is the Bee I Saw</button>{{!--Need to grab specific bee by ID and take info to map pages--}}
  </div>
  </form>
  <div class="col-md-1">
    {{!--Placeholder to help center--}}
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#locationBtn").on('click', function() {
      var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      };

      function success(pos) {
        var crd = pos.coords;

        myLoc = {lat: crd.latitude, lng: crd.longitude}
        $('#locationFieldLat').val(myLoc.lat).val()
        $('#locationFieldLong').val(myLoc.lng).val()
      };

      function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
      };

      navigator.geolocation.getCurrentPosition(success, error, options);
    })
  })
</script>
