<div class="container">
    <div id="map"></div>
</div>
<script>
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.0902, lng: -95.7129},
      zoom: 4
    });

var infowindow = new google.maps.InfoWindow();

var beeData = new Promise(function(resolve, reject) {
  var allData = [];
  // http://localhost:3000/beeseed LOCALHOST URL
$.get("http://the-hive-g25.herokuapp.com/beeseed", function(data) {
  return data;
}).then(function(data) {
  var beeData = [];
  data.forEach(function(data) {
    beeData.push(data);
    })

    for(var i = 0; i < beeData.length; i++){
      var image = '<h5>'+ beeData[i].Species + '</h5>' + '<img src="' + beeData[i]["Image URL"]+'" width="100" height="100" />'
      var marker = new google.maps.Marker({
        position: beeData[i].location,
        map: map,
        title: image
      });
    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(this.title);
        infowindow.open(map, this);
      });
    }
  })
});


function placeMarker(position, map) {
var marker = new google.maps.Marker({
  position: position,
  map: map
});
marks.push(marker);
map.panTo(position);
}
// marker.setMap(null);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE2lzib-47xKBY_Qwszr8xKdQdTCd44Rk&callback=initMap&libraries=places"
async defer></script>
