

<div class="container">
    <div id="map"></div>
    <input type="button" value="show all pins" id="all">
    <input type="button" value="show my pins" id="user">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE2lzib-47xKBY_Qwszr8xKdQdTCd44Rk&callback=initMap&libraries=places"
async defer></script>
