<div class="row google-example">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <img id="googleExample" src="/images/theHiveMap.png" alt="" />
  </div>
  <div class="col-md-4">
    <h2>Create a map of bee sightings</h2>
    <p>This app is designed for the bee-curious! The Hive is a social network for citizen scientists and bee enthusiasts all over the world. Whenever you see a cool bee, drop a pin onto your personalized map and save information about it in your profile. Compare your pins to data from other users and from the American Museum of Natural History.</p>
  </div>
  <div class="col-md-2">
  </div>

</div>

<div class="row bee-blurb">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <h2>See photos and learn more</h2>
    <p>Once you've created a profile, you'll have access to information about and high-quality photos of dozens of bee species from all over the country. A sidebar will generate a new bee fact each day, and there's no limit to how many locations and species you can save.</p>
  </div>
  <div class="col-md-4">
    {{!--Image placeholder for bee pic--}}
    <img id="beePic" src="/images/megachile_apicalis.jpg" alt="" />
  </div>
  <div class="col-md-2">
  </div>

</div>
