<div class="row">
  <div class="col-md-9">
  </div>
  <div class="col-md-3">
    <a href='/auth/google'><button>Login with Google</button></a>
    <a href="/beeMap"><button>View Bee Map</button></a>
  </div>
</div>
<div class="row google-example">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    {{!--Image placeholder for google map example--}}
    <img id="googleExample" src="http://www.freewilliamsburg.com/archives/FW_ARTMAPBKLYN.jpg" alt="" />
  </div>
  <div class="col-md-4">
    {{!--Text placeholder for blurb about site functionality--}}
    <h2>Text about our map functionality</h2>
    <ul>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
    </ul>
  </div>
  <div class="col-md-2">
  </div>

</div>

<div class="row bee-blurb">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    {{!--Text placeholder for bee info--}}
    <h2>Text about our awesome bee information</h2>
    <ul>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
      <li>Example Text</li>
    </ul>
  </div>
  <div class="col-md-4">
    {{!--Image placeholder for bee pic--}}
    <img id="beePic" src="/images/megachile_apicalis.jpg" alt="" />
  </div>
  <div class="col-md-2">
  </div>

</div>
