<div class="row">
  <div class="col-md-4 userInfo">
    {{!--Lefthand section with userinfo and avatar image--}}
    <div class="row">
      <div class="col-md-12">
        <h2>Username</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="User image/avatar" />
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 profileInfo">
        <h2>Profile Info</h2>
        <ul>
          <li>Info</li>
          <li>Info</li>
          <li>Info</li>
          <li>Info</li>
        </ul>
        <a href="/editProfile"><button>Edit Profile</button></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/addBee"><button>Add Bee</button></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 beeFeed">
    {{!--Middle section with bee feed, needs to prepend for added bees--}}
    <div class="row">
      <div class="col-md-12">
        <h2>Bee Feed</h2>
        <ul>
          <li><img src="" alt="a pic here" />Bee Post</li>
          <li><img src="" alt="a pic here" />Bee Post</li>
          <li><img src="" alt="a pic here" />Bee Post</li>
          <li><img src="" alt="a pic here" />Bee Post</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="col-md-4 beeFacts">
    {{!--Righthand section with bee fact of the day--}}
    <div class="row">
      <div class="col-md-12">
        <h3>Bee Fact of the Day</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="" alt="Image for bee fact of the day" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>The hard facts!</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

</div>
</div>
