body
  padding: 10px 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 100%

a
  color: #00B7FF
  font-family: 'Source Sans Pro', sans-serif
  font-size: 1.2em

p, h3, h4, li
  font-family: 'Source Sans Pro', sans-serif

p, li
  font-size: 1.1em

h1, h2
  font-family: 'Amatica SC', cursive
  font-size: 3em

button
  background: none
  border-style: none
  color: #00B7FF
  font-family: 'Source Sans Pro', sans-serif

button:hover
  color: black

header
  position: absolute
  top: 0
  left: 0
  width: 100%
  overflow: hidden
  z-index: 3

.headerRow
  height: 5vw

.navbar-nav
  margin-top: 1vw
  margin-left: 10vw

main
  position: fixed
  top: 70px
  left: 0
  bottom: 50px
  right: 0
  overflow-x: hidden
  overflow-y: auto
  margin: 2em
  padding-right: 17px
  z-index: 1

footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 1em
  background-color: #efefef
  text-align: center
  overflow: hidden
