#beePic, #googleExample
  width: 28vw

#factId, #avatarPic, #beeInfoImage, #footerImage
  width: 90%

#hiveIcon
  position: absolute
  top: 0
  height: 7rem
  margin-right: 10px
  z-index: 2

#avatarPic
  max-width: 90%
  max-height: 400px
